body {
  margin: 0px;
  padding: 0px;
  background-color: #f4f7f6; /* El mismo color de fondo */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blink_me {
  color: #34D399;
  animation: blinker 1.7s step-start infinite;
  -webkit-animation: blinker 1.7s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}