html, body, #root {
  margin: 0px;
  padding: 0px;
   /* El mismo color de fondo */
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-fondo) !important;
  overflow-x: hidden;
  overscroll-behavior: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blink_me {
  color: #34D399;
  animation: blinker 1.7s step-start infinite;
  -webkit-animation: blinker 1.7s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}